<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>node visualization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <script>
        let frames = JSON.parse('{{ frames | tojson | safe }}')
    </script>
    <script src="static/helper.js"></script>
    <script src="static/Node.js"></script>
    <script src="static/sketch.js"></script>
</body>
</html>